<div class="d-flex justify-content-center" ng-controller="UpdateUserController as updateUserCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong>Update User</strong>
                </div>
                <div class="card-body">
                    <div class="row col-12 text-danger" ng-bind="updateUserCtrl.errorText"></div>
                    <ng-form method="POST">
                        <div class="form-group">
                            <label class="text-muted" 
                                for="full_name"
                                >Full Name</label>
                            <input type="text" 
                                class="form-control" 
                                name="full_name"
                                id="full_name" 
                                placeholder="Full Name"
                                ng-model="updateUserCtrl.userModal.full_name"
                                > 
                        </div>
                        <div class="form-group">
                            <label class="text-muted" 
                                for="email"
                                >Email address</label>
                            <input type="email" 
                                class="form-control" 
                                name="email"
                                id="email" 
                                aria-describedby="emailHelp" 
                                placeholder="Email"
                                ng-model="updateUserCtrl.userModal.email"
                                readonly
                                > 
                        </div>
                        <input type="submit" 
                            value="Update User" 
                            id="updateUserBtn"
                            class="btn btn-primary"
                            ng-click="updateUserCtrl.updateUser()"
                            />
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
 </div>